
div {
	background: pink;
	width: 200px;
	padding: 10px;
	margin: 20px;
	border: 3px solid grey;
}
#bom {
    background: lightblue;
	width: 200px;
	padding: 10px;
	margin: 40px;
	border: 3px solid grey;
}
	

